.img-fluid {
  width: 100%;
}
.container {
  max-height: 350px;
  overflow: hidden;
  position: relative;
}
.banner-overlay {
  position: absolute;
  top: 30%;
  width: 80%;
  margin-left: 80px;
}
.title {
  font-weight: 800;
  font-size: 30px;
}
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
}
